@{
    ViewData["Title"] = "The Team";
}
<h3>@ViewData["Message"]</h3>

<div>
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab-Alec">Alec Waters</a></li>
        <li><a data-toggle="tab" href="#tab-Elsa">Elsa Freudenthal</a></li>
        <li><a data-toggle="tab" href="#tab-Tom">Tom Wanous</a></li>
        <li><a data-toggle="tab" href="#tab-Folly">Folly Quevi</a></li>
        <li><a data-toggle="tab" href="#tab-Nawaf">Nawaf Alharbi</a></li>
    </ul>
    <div class="tab-content">
        <div id="#tab-Alec" class="tab-pane fade in active">

        </div> 
        <div id="#tab-Elsa" class="tab-pane fade">

        </div>
        <div id="#tab-Tom" class="tab-pane fade">

        </div>
        <div id="#tab-Folly" class="tab-pane fade">

        </div>
        <div id="#tab-Nawaf" class="tab-pane fade"></div>
    </div>
</div>
