@{
    ViewData["Title"] = "The Team";
}
<h3>@ViewData["Message"]</h3>

<div>
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab-Alec">Alec Waters</a></li>
        <li><a data-toggle="tab" href="#tab-Elsa">Elsa Freudenthal</a></li>
        <li><a data-toggle="tab" href="#tab-Tom">Tom Wanous</a></li>
        <li><a data-toggle="tab" href="#tab-Folly">Folly Quevi</a></li>
        <li><a data-toggle="tab" href="#tab-Nawaf">Nawaf Alharbi</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-Alec" class="tab-pane fade in active">
            <img style="float:left; margin-right:15px; width:200px; height:212px" src="~/images/Waters_Alec.jpg"/>
            <h3>Alec Waters</h3>
            <h4>Major: Information Systems; Minor in Marketing</h4>
            <h4>Year: Senior</h4>
            <h4>About:</h4>
            <p>
                Hi, my name is Alec! I am a junior at SCSU majoring in information systems.
                 In my time away from HBTS, am the Vice President of Fundraising for the American 
                Marketing Association. My free time consists of me doing things in my free time.


                <br>
            </p>
            <hr />
            <h4><a href="~/Resumes and Photos/Waters_Alec.docx" download="">Resume</a></h4>
        </div> 
        <div id="tab-Elsa" class="tab-pane fade">
            <img style="float:left; margin-right:15px; height:212px; width:200px" src="~/images/Freudenthal_Elsa.png"/>
            <h3>Elsa Freudenthal</h3>
            <h4>Major: Information Systems</h4>
            <h4>Year: Junior</h4>
            <h4>About:</h4>
            <p>
                Hi! I am a junior at SCSU pursuing a degree in IS with a minor in Business
                 Analytics. Outside of class, I hold board positions within IS Club, the 
                Business School Executive Council, and the SCSU Hip Hop Crew.
            </p>
            <hr />
            <h4><a href="~/Resumes and Photos/Freudenthal_Elsa.docx" download="">Resume</a></h4>
        </div>
        <div id="tab-Tom" class="tab-pane fade">
            <img style="float:left; margin-right:15px; height:212px; width:200px" src="~/images/Wanous_Thomas.jpg"/>
            <h3>Tom Wanous</h3>
            <h4>Major: Accounting / Information Systems</h4>
            <h4>Year: Junior</h4>
            <h4>About:</h4>
            <p>
                Hi! My name is Tom Wanous. I am a junior at SCSU majoring in Information Systems and 
                Accounting. I maintain the sites for my IS 356 class and HBTS, and also am the lead
                programmer for any of the projects with our partner companies.
            </p>
            <hr />
            <h4><a href="~/Resumes and Photos/Wanous_Thomas.docx" download="">Resume</a></h4>
        </div>
        <div id="tab-Folly" class="tab-pane fade">
            <img style="float:left; margin-right:15px" src="http://placehold.it/200x212"/>
            <h3>Folly Quevi</h3>
            <h4>Major: Information Systems</h4>
            <h4>Year: Senior</h4>
            <h4>About:</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie iaculis ex nec
                porta. Vivamus ipsum dolor, luctus in porta volutpat, commodo malesuada leo. In dolor eros,
                pellentesque sed venenatis a, ornare ac tellus. 
            </p>
            <hr />
            <h4><a href="~/Resumes and Photos/Quevi_Folly.docx" download="">Resume</a></h4>
        </div>
        <div id="tab-Nawaf" class="tab-pane fade">
            <img style="float:left; margin-right:15px" src="http://placehold.it/200x212"/>
            <h3>Nawaf Alharbi</h3>
            <h4>Major: Information Systems</h4>
            <h4>Year: Senior</h4>
            <h4>About:</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie iaculis ex nec
                porta. Vivamus ipsum dolor, luctus in porta volutpat, commodo malesuada leo. In dolor eros,
                pellentesque sed venenatis a, ornare ac tellus.
            </p>
            <hr />
            <h4><a href="~/Resumes and Photos/Alharbi_Nawaf.docx" download="">Resume</a></h4>
        </div>
    </div>
</div>
