@{
    ViewData["Title"] = "Home";
}

<div>
    <img src="~/images/Husky.png" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Who are we?</h2>
        <p>
            We are a group of students attending St. Cloud State University, working
            on attaining degrees in Information Systems. For our IS 356, Systems Analysis
            and Design, class, we were tasked with helping a local business to develop a
            new system or improve an existing system in their business. More information 
            about the project can be found on the main class website at <a href="http://is356.wano.us/Home/About" target="_blank">is356.wano.us</a>.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Current Partnership</h2>
        <p>
            You can find information about our partner, the Fan Zone - St. Cloud, on the
            partners page on the navbar above.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Milestones</h2>
        <p>
            All of the milestones for our project, as assigned by our professor, can be
            found on the Milestone paged linked above. Each of the milestones are Word 
            documents, containing all of the necessary information to follow our progress
            as we help the Fan Zone.
        </p>
    </div>
    <div class="col-md-3">
        <h2>More Information</h2>
        <p>
            If you would like more information about the project or any of our team members,
            you can send an email to hbts@wano.us, and the email will be forwarded to the
            team member.
        </p>
    </div>
</div>
