@{
    ViewData["Title"] = "Milestones";
}
<h3>@ViewData["Message"]</h3>
<div class="row">
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone1.docx" download><img src="~/images/1.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone2.docx" download><img src="~/images/2.jpg" /></a>
    </div><div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone3.docx" download><img src="~/images/3.jpg" /></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone4.docx" download><img src="~/images/4.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone5.docx" download><img src="~/images/5.jpg" /></a>
    </div>
    <div class="col-md-3">
        <img src="~/images/6.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img src="~/images/7.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/images/8.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/images/9.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <img src="~/images/10.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/images/11.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/images/12.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <img src="~/images/P1.jpg" />
    </div>
    <div class="col-md-6">
        <img src="~/images/P2.jpg" />
    </div>
</div>