@{
    ViewData["Title"] = "Milestones";
}
<h3>@ViewData["Message"]</h3>
<div class="row">
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone1.docx" download><img src="~/images/1.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone2.docx" download><img src="~/images/2.jpg" /></a>
    </div><div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone3.docx" download><img src="~/images/3.jpg" /></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone4.docx" download><img src="~/images/4.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone5.docx" download><img src="~/images/5.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone6.docx" download><img src="~/images/6.jpg" /></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone7.docx" download><img src="~/images/7.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone8.docx" download><img src="~/images/8.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone9.docx" download><img src="~/images/9.jpg" /></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone10.docx" download><img src="~/images/10.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone11.docx" download><img src="~/images/11.jpg" /></a>
    </div>
    <div class="col-md-3">
        <a href="~/MilestoneDocuments/Milestone12.docx" download><img src="~/images/12.jpg" /></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <a href="~/MilestoneDocuments/Presentation 1.pptx" download><img src="~/images/P1.jpg" /></a>
    </div>
    <div class="col-md-6">
        <a href="~/MilestoneDocuments/Presentation 2.pptx" download><img src="~/images/P2.jpg" /></a>
    </div>
</div>
