@{ 
    ViewData["Title"] = "Partners";
}

<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-8">
        <div style="float:left; width:220px; height:237px; margin-right:15px">
            <img src="~/images/fanzone.jpg" style="width:220px; height:237px" />
        </div>
        <h4>The Fan Zone - St. Cloud</h4>
        <p>Location: 314 4th Ave NE, Waite Park, MN 56387</p>
        <p>Sports Cards, Apparel, Magic: The Gathering, and More!</p>
        <p>Background:</p>
        <p>To be filled in</p>
    </div>
</div>